@import "tailwindcss";
.invertimg{
    filter: invert(0.23);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}


.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
}